[class^="btn--"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px); 
  width: auto;
  display: inline-block;
  margin-right: em(15px, 14px);
}

.btn-login {
    @extend %btn;
    font-family: $font-family--primary;
    font-weight: $font-weight--medium;
    font-size: rem(28px);
    text-transform: capitalize;
    color: $centuria;
    background: $white;
    letter-spacing: rem(1.05px);
    line-height: rem(34px);
    margin: 0 auto rem(48px) auto;
    padding: rem(12px) rem(24px);
    display: block;
    overflow: hidden;  
}


.btn-search {
  @extend %btn;
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-size: rem(28px);
  text-transform: capitalize;
  color: $centuria;
  background: $centuria url(../images/search.png) 50% 50% no-repeat;
  letter-spacing: rem(1.05px);
  line-height: rem(34px);
  margin: 0 auto rem(48px) auto;
  padding: rem(12px) rem(38px);
  display: block;
  overflow: hidden;
  height: rem(60px);
}

.btn-check {
  @extend %btn;
  color: $white;
  background: $centuria;
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  font-size: rem(20px);
  text-transform: capitalize;
  color: $white;
  letter-spacing: rem(0.82px);
  line-height: rem(27px);
  padding: rem(16px);
}
// Offset

.offset-top-10 {
  margin-top: percentage(10 / 100);
}

.offset-top-30 {
  margin-top: percentage(30 / 100);
}
.offset-top-8 {
  margin-top: .8%;
}
.offset-bottom-10 {
  margin-bottom: percentage(10 / 100);
}
.offset-bottom-5 {
  margin-bottom: percentage(5 / 100);
}

.offset-bottom-3 {
  margin-bottom: percentage(3 / 100);
}

.offset-top-5 {
  margin-top: percentage(5 / 100);
}

.offset-top-2 {
  margin-top: percentage(2 / 100);
}

.offset-top-3 {
  margin-top: percentage(3 / 100);
}

.offset-padding-10 {
  padding: 0 rem(10px);
}

.offset-padding-left {
  padding: percentage(2 / 100);
}

.offset-margin-left {
  margin: percentage(2 / 100);
}

.offset-52 {
  margin-right: percentage(6 / 100);
}

.offset-left-10 {
  margin-left: 10%;
}

.offset-margin-bottom-0 {
  margin: 0;
}

.offset-top-app-bar {
 margin-top: rem(18px);
}


